<%- include('head', { titulo: 'Erro' }) %>
<div class="adm-login"><div class="adm-login-card">
  <h1>Ops</h1>
  <p><%= typeof mensagem !== 'undefined' ? mensagem : 'Algo deu errado.' %></p>
  <a href="/" class="adm-btn">Voltar ao painel</a>
</div></div>
</body></html>
